/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

body::-webkit-scrollbar {
  width: 0.625rem;
  height: 0.625rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 0.1875rem;
  height: 3.125rem;
}

body::-webkit-scrollbar-thumb:hover {
  background: #acacac; /* Color oscuro cuando el ratón está sobre el pulgar */
}

body::-webkit-scrollbar-thumb:active {
  background: #8b8a8a; /* Color más oscuro cuando se presiona el pulgar */
  width: 1rem; /* Ancho adicional para indicar que el pulgar está siendo presionado */
}

a {
  color: #2487ce;
  text-decoration: none;
  list-style: none;
}

a:hover {
  color: #469fdf;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/* Fonts */
:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Nunito", sans-serif;
  --nav-font: "Inter", sans-serif;
}

@font-face {
  font-family: 'boxicons';
  src: url('/assets/vendor/boxicons/fonts/boxicons.woff2') format('woff2');
  font-display: swap;
}


/* Global Colors */
:root {
  --background-color: #ffffff;
  --background-color-rgb: 255, 255, 255;
  --default-color: #3d4348;
  --default-color-rgb: 61, 67, 72;
  --heading-color: #3e5055;
  --heading-color-rgb: 62, 80, 85;
  --accent-color: #388da8;
  --accent-color-rgb: 56, 141, 168;
  --contrast-color: #ffffff;
  --contrast-color-rgb: 255, 255, 255;
}

/* Nav Menu Colors */
:root {
  --nav-color: #313336;
  --nav-hover-color: #77b6ca;
  --nav-dropdown-color: #313336;
  --nav-dropdown-hover-color: #77b6ca;
  --nav-dropdown-background-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 0.9375rem;
  bottom: 0.9375rem;
  z-index: 996;
  background: #2487ce;
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 0.25rem;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 1.0625rem;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #3e9bdd;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 1.875rem);
  left: calc(50% - 1.875rem);
  border: 0.375rem solid #2487ce;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 48rem) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  transition: all 0.5s;
  background: #fff;
  z-index: 997;
  padding: 0.3125rem 0;
  border-bottom: 0.0625rem solid #e6f2fb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header.header-scrolled {
  border-color: #fff;
  box-shadow: 0rem 0.125rem 0.9375rem rgba(18, 66, 101, 0.08);
}

#header .logo-hcd {
  font-size: 1.6875rem;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0.0313rem;
  font-family: "Poppins", sans-serif;
}

#header .logo-hcd a {
  color: #2487ce;
  margin-left: -11.875rem;
}

#header .logo img {
  /* margin-top: -0.9375rem;
  margin-bottom: -0.9375rem; */
  width: 2.5rem;
  height: auto;
  box-sizing: border-box;
}

@media (max-width: 70.25rem) {
  #header .logo-hcd {
    font-size: 1.75rem;
    margin: initial;
    padding: initial;
    margin-left: 10.9375rem;
  }
}

@media (max-width: 61.9375rem) {
  #header .logo-hcd {
    font-size: 1.75rem;
    margin: initial;
    padding: initial;
    margin-left: -13.125rem;
  }
}

@media (max-width: 47.9375rem) {
  #header .logo-hcd {
    font-size: 1.8125rem;
    margin: initial;
    padding: initial;
    text-align: center;
  }

  #header .logo-hcd a {
    margin-left: initial;
  }
}

@media (max-width: 35.9375rem) {
  #header .logo-hcd {
    font-size: 1.6875rem;
  }

  #header .logo img {
    width: 2.3125rem;
    height: auto;
    box-sizing: border-box;
  }
}

@media (max-width: 22.5rem) {
  #header .logo-hcd {
    padding: 0.3125rem 0;
    font-size: 1.5625rem;
  }

  #header .logo-hcd a {
    margin-left: 0;
  }

  #header .logo img {
    width: 2.0625rem;
    height: auto;
    box-sizing: border-box;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  /* margin-right: 3.75rem; */
}

/* Agregar sombra al navbar cuando hay scroll */
.navbar-shadow {
  box-shadow: 0 0.125rem 0.75rem -0.125rem rgba(0, 0, 0, 0.1);
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 0 0.625rem 1.875rem;
  font-size: 0.8125rem;
  color: #16507b;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 0.625rem;
  line-height: 0;
  margin-left: 0.3125rem;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #2487ce;
}

.counter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: -0.3125rem;
  margin-top: -0.3125rem;
  gap: -0.3125rem;
}

.counter-wrapper p {
  margin-bottom: 0rem;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #2487ce;
  padding: 0.5rem 1.25rem;
  margin-left: 1.875rem;
  border-radius: 0.25rem;
  color: #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #3194db;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 0.875rem;
  top: calc(100% + 1.875rem);
  margin: 0;
  padding: 0.625rem 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0rem 0rem 1.875rem rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 0.25rem;
}

.navbar .dropdown ul li {
  min-width: 12.5rem;
}

.navbar .dropdown ul a {
  padding: 0.625rem 1.25rem;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 0.75rem;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #2487ce;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 1.875rem);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 85.375rem) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #124265;
  font-size: 1.75rem;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 61.9375rem) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(10, 38, 58, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 0.9375rem;
  right: 0.9375rem;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 3.4375rem;
  right: 0.9375rem;
  bottom: 0.9375rem;
  left: 0.9375rem;
  padding: 0.625rem 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 0.625rem 1.25rem;
  font-size: 0.9375rem;
  color: #124265;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #2487ce;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 0.9375rem;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 0.625rem 1.25rem;
  padding: 0.625rem 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0rem 0rem 1.875rem rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 12.5rem;
}

.navbar-mobile .dropdown ul a {
  padding: 0.625rem 1.25rem;
}

.nav-a {
  padding: 0.625rem 0 0.625rem 1.875rem;
  font-size: 0.75rem;
  /* color: #124265; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 0 0.625rem 1.875rem;
  font-size: 0.8125rem;
  color: #16507b;
  white-space: nowrap;
  transition: 0.3s;
}

.nav-a i {
  font-size: 0.625rem;
  line-height: 0;
  margin-left: 0.3125rem;
}

.navbar-mobile .dropdown ul a i {
  font-size: 0.75rem;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #2487ce;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

.dropdown-menu-open {
  display: block !important;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../img/hero/fachada_COF_hero_section1.webp") top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: background-image 0.5s ease;
}

#hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  padding-top: 3.75rem;
}

#hero h1 {
  /* margin: 0; */
  font-size: 3rem;
  font-weight: 400;
  line-height: 4.5rem;
  color: rgb(255, 255, 255);
  font-family: "Merriweather", serif;
  font-style: normal;
  margin-top: 0.55rem;
  margin-bottom: -0.55rem;
}

#hero h1 span {
  display: block; /* Cada palabra en una nueva línea */
  /* margin-bottom: -1.125rem; */
  line-height: 3.37rem;
  padding: 0;
}

#hero h2 {
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  font-size: 1.0625rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  margin-top: 1.25rem;
}

.custom-margin {
  margin-left: 3.495rem;
}

#hero .btn-get-started {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.0313rem;
  display: inline-block;
  padding: 0.625rem 3.375rem;
  border-radius: 0.3125rem;
  transition: 0.5s;
  margin-top: 1.875rem;
  margin-left: 3.4375rem;
  color: #fff;
  background: #2487ce;
}

#hero .btn-get-started:hover {
  background: #3194db;
}

#hero .icon-boxes {
  margin-top: 6.25rem;
}

#hero .icon-box {
  margin-top: -1.25rem;
  padding: 3.125rem 1.875rem;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 1.8125rem 0 rgba(18, 66, 101, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
  z-index: 1;
}

#hero .icon-box .title {
  margin-top: 0.9375rem;
  font-weight: 700;
  margin-bottom: 0.9375rem;
  font-size: 1rem;
}

#hero .icon-box .title a {
  color: #124265;
  transition: 0.3s;
}

#hero .icon-box .description {
  font-size: 0.8125rem;
  line-height: 1.75rem;
  margin-bottom: 0;
}

#hero .icon-box .icon {
  display: inline-block;
  transition: all 0.3s ease-in-out;
  font-size: 2.25rem;
  line-height: 1;
  color: #2487ce;
}

#hero .icon-box:hover {
  transform: scale(1.08);
}

#hero .icon-box:hover .title a {
  color: #2487ce;
}

@media (max-width: 64rem) {
  #hero {
    background-size: cover;
    background-attachment: fixed;
  }
  #header .logo a {
    margin-left: 1.25rem;
  }
}

@media (max-height: 50rem) {
  #hero {
    height: auto;
  }
}

@media (max-width: 62rem) {
  #hero {
    height: auto;
  }

  #header .logo a {
    margin-left: 1.25rem;
  }

  #hero h1 {
    margin-top: -2.8125rem;
    font-size: 2.5rem;
    line-height: 3.75rem;
    text-shadow: 0.125rem 0.125rem 0rem rgba(0, 0, 0, 0.7);
  }

  #hero h2 {
    font-size: 1rem;
    line-height: 1.5rem;
    text-shadow: 0.125rem 0.125rem 0rem rgba(0, 0, 0, 0.7);
  }
}

@media (max-width: 47.9375rem) {
  #hero {
    background: url("../img/hero/honorable consejo deliberante fachada ampliada.webp")
      top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
  }

  #hero h1 {
    margin-top: -2.8125rem;
    font-size: 2.625rem;
    line-height: 2.25rem;
    text-shadow: 0.125rem 0.125rem 0rem rgba(0, 0, 0, 0.7);
  }

  #hero h1 span {
    display: block; 
    margin-bottom: 0.3rem;
  }

  #hero h2 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-shadow: 0.125rem 0.125rem 0rem rgba(0, 0, 0, 0.7);
  }

  .custom-margin {
    justify-content: center;
    margin-left: 0rem;
    text-align: center;
  }

  .word {
    margin-bottom: 0.1875rem;
  }

  #hero .btn-get-started {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0.3125rem 1.25rem !important;
    width: 8.375rem !important;
  }

  .caja-container {
    justify-content: center;
  }

  .icon-box {
    text-align: center;
  }
}

@media (max-width: 35.9375rem) {
  #hero {
    background: url("../img/hero/honorable consejo deliberante fachada ampliada.webp")
      top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
  }

  #hero h1 {
    margin-top: -2.8125rem;
    font-size: 2.25rem;
    line-height: 2.25rem;
    text-shadow: 0.125rem 0.125rem 0rem rgba(0, 0, 0, 0.7);
  }

  #hero h1 span {
    display: block; 
    margin-bottom: 0.3rem;
  }

  #hero h2 {
    font-size: 1rem;
    line-height: 1.5rem;
    text-shadow: 0.125rem 0.125rem 0rem rgba(0, 0, 0, 0.7);
  }

  .custom-margin {
    margin-left: -0.375rem;
    text-align: center;
  }

  #hero .btn-get-started {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0.3125rem 1.25rem;
    width: 8.375rem;
  }

  .caja-container {
    justify-content: center;
  }
  .icon-box {
    text-align: center;
  }
}

@media (max-width: 22.5rem) {
  #hero {
    background: url("../img/hero/honorable consejo deliberante fachada ampliada.webp")
      top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100lvh;
  }

  #hero h1 {
    margin-top: -2.8125rem;
    font-size: 2.25rem;
    line-height: 2.0625rem;
    filter: brightness(1.1);
    mix-blend-mode: normal;
    text-shadow: 0.125rem 0.125rem 0rem rgba(0, 0, 0, 0.7);
  }

  #hero h1 span {
    display: block; 
    margin-bottom: 0.3rem;
  }

  #hero h2 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: -0.0625rem;
    text-shadow: 0.125rem 0.125rem 0rem rgba(0, 0, 0, 0.7);
  }

  .custom-margin {
    margin-left: 0rem;
    text-align: center;
  }

  #hero .btn-get-started {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0.3125rem 1.25rem !important;
    width: 8.375rem !important;
  }

  .caja-container {
    justify-content: center;
  }
  .icon-box {
    text-align: center;
  }

  .acerca-home {
    margin-top: -4.375rem;
  }

  .preguntas-frecuentes {
    margin-top: -1.5625rem;
  }
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 5rem 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f8fbfe;
}

.section-title {
  text-align: center;
  padding-bottom: 1.875rem;
}

.section-title h2 {
  font-size: 1.875rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
  padding-bottom: 0;
  color: #2487ce;
}

.section-title p {
  margin-top: -0.9375rem;
  font-size: 0.75rem;
  color: #919191;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 1.625rem;
}

.content p {
  font-size: 0.9375rem;
}

.about .content ul {
  list-style: none;
  padding: 0;
  font-size: 0.9375rem;
}

.about .content ul li {
  padding-left: 1.75rem;
  position: relative;
}

.about .content ul li + li {
  margin-top: 0.625rem;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 0.125rem;
  font-size: 0.625rem;
  margin-top: 0.3125rem;
  color: #2487ce;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .btn-learn-more {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 0.0625rem;
  display: inline-block;
  padding: 0.75rem 2rem;
  border-radius: 0.3125rem;
  transition: 0.3s;
  line-height: 1;
  color: #2487ce;
  animation-delay: 0.8s;
  margin-top: 0.375rem;
  border: 0.125rem solid #2487ce;
}

.about .content .btn-learn-more:hover {
  background: #2487ce;
  color: #fff;
  text-decoration: none;
}

@media (width < 48rem) {
  .btn-learn-container {
    text-align: center;
  }
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 0 0;
  border-bottom: 0.0625rem solid #e6f2fb;

  /* box-shadow: 0rem 0.125rem 0.375rem rgba(18, 66, 101, 0.08); */
}

.counts .count-box {
  width: 100%;
  text-align: center;
}

.counts .count-box span {
  font-size: 3rem;
  line-height: 3rem;
  display: block;
  font-weight: 700;
  color: #124265;
  margin-left: 5rem;
  margin: auto;
}

.counts .count-box p {
  padding: 0.5rem 0 0 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  color: #1e6ca6;
}

/*--------------------------------------------------------------
# About Video
--------------------------------------------------------------*/
.about-video {
  margin-top: 3.125rem;
  /* margin-bottom: -6.25rem; */
  background-color: #f8fbfe;
}

.about-video .content {
  font-size: 0.8125rem;
}

.about-video .content h3 {
  font-weight: 700;
  font-size: 1.375rem;
  color: #2487ce;
}

.about-video .content p {
  margin-top: -0.625rem;
  font-size: 0.875rem;
}

.about-video .content ul {
  list-style: none;
  padding: 0;
  /* text-align: justify;
  word-spacing: -0.0625rem; */
}

.about-video .content ul li {
  padding-bottom: 0.625rem;
  padding-left: 1.75rem;
  max-width: 37.5rem;
  position: relative;
}

.about-video .content ul i {
  font-size: 0.625rem;
  color: #2487ce;
  position: absolute;
  left: 0;
  top: 0.25rem;
}

.about-video .content p:last-child {
  margin-bottom: 0;
  max-width: 37.5rem;
}

.about-video .play-btn {
  width: 5.875rem;
  height: 5.875rem;
  background: radial-gradient(#2487ce 50%, rgba(36, 135, 206, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 2.9375rem);
  top: calc(50% - 2.9375rem);
  overflow: hidden;
}

.about-video .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 0.625rem solid transparent;
  border-bottom: 0.625rem solid transparent;
  border-left: 0.9375rem solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about-video .play-btn::before {
  content: "";
  position: absolute;
  width: 7.5rem;
  height: 7.5rem;
  animation-delay: 0s;
  animation: pulsate-btn 2s;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 0.3125rem solid rgba(36, 135, 206, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.about-video .play-btn:hover::after {
  border-left: 0.9375rem solid #2487ce;
  transform: scale(20);
}

.about-video .play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 0.625rem solid transparent;
  border-bottom: 0.625rem solid transparent;
  border-left: 0.9375rem solid #fff;
  z-index: 200;
  animation: none;
  border-radius: 0;
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@media (max-width: 22.5rem) {
  .about-video {
    margin-top: 3.125rem;
    background-color: #f8fbfe;
  }

  .about-video .container {
    margin-top: -3.4375rem;
    margin-bottom: -2.8125rem;
  }
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  padding: 0.9375rem 0;
  text-align: center;
}

.clients img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 0.9375rem 0;
  filter: grayscale(100);
}

.clients img:hover {
  filter: none;
  transform: scale(1.15);
}

@media (max-width: 48rem) {
  .clients img {
    max-width: 40%;
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
  background-color: #f8fbfe !important;
  margin-top: 1.25rem;
}

.services .service-item {
  background-color: var(--contrast-color);
  border: 0.0625rem solid rgba(var(--default-color-rgb), 0.15);
  height: 100%;
  padding: 1.875rem;
  transition: 0.3s;
  border-radius: 0.625rem;
  display: flex;
  transition: transform 0.3s ease;
}

.services .service-item .icon {
  border-radius: 0.5rem;
  position: relative;
  margin-right: 1.5625rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 9.375rem;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
}

.services .service-item h3 {
  color: #2487ce;
  font-weight: 700;
  font-size: 1.0625rem;
  transition: 0.3s;
}

.services .service-item span {
  font-size: 0.6875rem;
  /* color: rgba(var(--default-color-rgb), 0.6); */
  color: #2487ce;
}

.services .service-item p {
  margin-bottom: 0;
  font-size: 0.8125rem;
  color: rgba(var(--default-color-rgb), 0.6);
  transition: 0.3s;
}

.services .service-item .read-more {
  display: inline-flex;
  align-items: center;
  margin-top: 0.625rem;
  transition: 0.3s;
  font-size: 0.875rem;
}

.link-visitas {
  margin-left: 13.75rem;
  color: #2487ce !important;
  text-decoration: none; /* Remueve cualquier subrayado predeterminado */
}

.link-visitas .text {
  position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
  font-size: 0.875rem !important;
}

.link-visitas .text::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.0625rem; /* Línea más fina */
  background-color: #2487ce;
  position: absolute;
  left: 0;
  bottom: 0.125rem; /* Ajusta la posición vertical de la línea para que esté más pegada a la palabra */
  opacity: 0; /* Inicialmente oculta */
}

.link-visitas .text:hover::after {
  opacity: 1; /* Muestra la línea entera al pasar el mouse */
}

.link-visitas i {
  color: #2487ce;
}

.services .service-item .read-more i {
  margin-left: 0.3125rem;
}

.services .service-item:hover {
  box-shadow: 0rem 0.125rem 1.5625rem rgba(var(--default-color-rgb), 0.1);
}

.services .service-item:hover h3 {
  color: #469fdf;
}

.services .service-item:hover p {
  color: rgba(var(--default-color-rgb), 0.9);
}

/* .services .service-item:hover span {
  color: rgba(var(--default-color-rgb), 0.9);
} */

.service-details .services-img {
  margin-bottom: 1.25rem;
  border-radius: 0.125rem;
  max-width: 100%;
  height: auto;
}

.container-all {
  position: relative;
}

.container-title-visita {
  margin-top: 1.5625rem;
  margin-bottom: 1.25rem;
}

.service-details h4 {
  font-size: 1.625rem;
  font-weight: 700;
  color: #2487ce;
}

.service-details span {
  font-size: 0.875rem;
  font-weight: 500;
  color: #2487ce;
  margin-bottom: 2.5rem;
}

.service-details h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #2487ce;
  margin-top: 1.25rem;
}

.service-details p {
  font-size: 0.875rem;
  margin-bottom: 2.5rem;
}

.icon-with-margin {
  margin-right: 0.125rem;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  margin-bottom: 1.25rem;
  overflow: hidden;
  text-align: center;
  border-radius: 0.25rem;
  background: #fff;
  box-shadow: 0rem 0.125rem 0.9375rem rgba(18, 66, 101, 0.08);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 2.5rem;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #124265;
  margin: 0 0.625rem;
  display: inline-block;
}

.team .member .social a:hover {
  color: #2487ce;
}

.team .member .social i {
  font-size: 1.125rem;
  margin: 0 0.125rem;
  line-height: 0;
}

.team .member .member-info {
  padding: 1.5625rem 0.9375rem;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 0.3125rem;
  font-size: 1.125rem;
  color: #2487ce;
}

.team .member .member-info span {
  display: block;
  font-size: 0.8125rem;
  font-weight: 400;
  color: #2487ce;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 0.875rem;
  line-height: 1.625rem;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  padding: 2.5rem 1.25rem;
  text-align: center;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  background: #fefefe;
  box-shadow: 0rem 0.3125rem 5.625rem 0rem rgba(110, 123, 131, 0.1);
}

.pricing .box h3 {
  font-weight: 400;
  padding: 0.9375rem;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #124265;
}

.pricing .box h4 {
  font-size: 2.625rem;
  color: #2487ce;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1.25rem;
}

.pricing .box h4 sup {
  font-size: 1.25rem;
  top: -0.9375rem;
  left: -0.1875rem;
}

.pricing .box h4 span {
  color: #bababa;
  font-size: 1rem;
  font-weight: 300;
}

.pricing .box ul {
  padding: 0;
  list-style: none;
  color: #124265;
  text-align: center;
  line-height: 1.25rem;
  font-size: 0.875rem;
}

.pricing .box ul li {
  padding-bottom: 1rem;
}

.pricing .box ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.pricing .box .btn-wrap {
  padding: 0.9375rem;
  text-align: center;
}

.pricing .box .btn-buy {
  display: inline-block;
  padding: 0.625rem 2.5rem;
  border-radius: 0.25rem;
  color: #2487ce;
  transition: none;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: 0.3s;
  border: 0.125rem solid #2487ce;
}

.pricing .box .btn-buy:hover {
  background: #2487ce;
  color: #fff;
}

.pricing .featured {
  background: #2487ce;
}

.pricing .featured h3,
.pricing .featured h4,
.pricing .featured h4 span,
.pricing .featured ul,
.pricing .featured ul .na {
  color: #fff;
}

.pricing .featured .btn-wrap {
  padding: 0.9375rem;
  text-align: center;
}

.pricing .featured .btn-buy {
  color: #fff;
  border: 0.125rem solid #fff;
}

.pricing .featured .btn-buy:hover {
  background: #fff;
  color: #2487ce;
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .faq-list {
  padding: 0 6.25rem;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li + li {
  margin-top: 0.9375rem;
}

.faq .faq-list li {
  padding: 1.25rem;
  background: #fff;
  border-radius: 0.25rem;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
  padding: 0 1.875rem;
  outline: none;
  cursor: pointer;
}

.faq .faq-list .icon-help {
  font-size: 1.5rem;
  position: absolute;
  right: 0;
  left: 1.25rem;
  color: #87c1ea;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
  font-size: 1.5rem;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 0.625rem 0 0 0;
  font-size: 0.875rem;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #343a40;
}

.faq .faq-list a.collapsed:hover {
  color: #2487ce;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 75rem) {
  .faq .faq-list {
    padding: 0;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 1.25rem;
  color: #2487ce;
  float: left;
  width: 2.75rem;
  height: 2.75rem;
  background: #e3f0fa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3125rem;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 3.75rem;
  font-size: 1.375rem;
  font-weight: 600;
  margin-bottom: 0.3125rem;
  color: #2487ce;
}

.contact .info p {
  padding: 0 0 0 3.75rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #217bbc;
  position: absolute;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 2.5rem;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #2487ce;
  color: #fff;
}

@media (max-width: 23.75rem) {
  .contact .info .address {
    margin-bottom: 1.25rem !important; /* O cualquier valor que necesites */
  }
  .contact .info .email,
  .contact .info .phone {
    margin-top: 3.75rem;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 0.9375rem 0;
  background: #f8fbfe;
  min-height: 2.5rem;
  margin-top: 4.5rem;
}

@media (max-width: 62rem) {
  .breadcrumbs {
    margin-top: 3.625rem;
  }
}

.breadcrumbs h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
}

.breadcrumbs ol li + li {
  padding-left: 0.625rem;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 0.625rem;
  color: #1a5e90;
  content: "/";
}

@media (max-width: 48rem) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Error 404
--------------------------------------------------------------*/
.error-404 {
  padding: 30px;
}

.error-404 h1 {
  font-size: 180px;
  font-weight: 700;
  color: #2487ce;
  margin-top: -30px;
  margin-bottom: 30px;
  line-height: 150px;
}

.error-404 h2 {
  font-size: 24px;
  font-weight: 700;
  color: #2487ce;
  margin-bottom: 30px;
}

.error-404 .btn {
  background: #2487ce;
  color: #fff;
  padding: 8px 30px;
}

.error-404 .btn:hover {
  background: #3194db;
}

@media (min-width: 992px) {
  .error-404 img {
    max-width: 50%;
  } 
}

@media (max-width: 767px) {
  .error-404 h2 {
    text-align: center;
  } 
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #444444;
  font-size: 0.875rem;
  background: #f8fbfe;
  box-shadow: 0rem 0.125rem 0.9375rem rgba(18, 66, 101, 0.08);
}

#footer .footer-top {
  padding: 3.4375rem 0 0 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 1.875rem;
}

#footer .footer-top .footer-contact h3 {
  font-size: 1.625rem;
  /* margin: 0 0 0.625rem 0; */
  color: #2487ce;
  padding: 0.125rem 0 0.125rem 0;
  line-height: 1;
  font-weight: 300;
}

#footer .footer-top .footer-contact p {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-top: -0.5rem;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 1rem;
  font-weight: bold;
  color: #2487ce;
  position: relative;
  padding-bottom: 0.75rem;
}

#footer .footer-top .footer-links {
  margin-bottom: 1.875rem;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 0.125rem;
  color: #2487ce;
  font-size: 1.125rem;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 0.625rem 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #2487ce;
}

#footer .social-links a {
  font-size: 1.125rem;
  display: inline-block;
  background: #2487ce;
  color: #fff;
  line-height: 1;
  padding: 0.25rem 0;
  margin-top: 0.9375rem;
  margin-bottom: 1.25rem;
  border-radius: 0.3125rem;
  text-align: center;
  width: 1.625rem;
  height: 1.625rem;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #3194db;
  color: #fff;
  text-decoration: none;
}
