.autoridades h2 {
  margin-top: 1.25rem;
}

@media (min-width: 22.5rem) {
  .container-anteriores {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    /* background-color: red; */
  }


  
}
