.container-list {
  margin-top: 0.625rem;
}
.custom-list span{
  font-weight: 600;
}

.icono-pdf {
  cursor: pointer;
  font-size: 1.125rem;
  color: #ec3f3f;
}

.icono-imagen {
  cursor: pointer;
  font-size: 1.125rem;
  color: #2487ce;
}

.icono-pdf:hover {
  color: #ff0000;
}
.icono-imagen:hover {
  color: #00f;
}

.custom-list-com {
  list-style-type: none;
  padding: 0;
}

.custom-list-com li {
  position: relative;
  margin-top: 3.125rem;
  margin-bottom: 1.875rem;
}

.custom-list-com li::before {
  content: "";
  position: absolute;
  bottom: -0.0625rem; /* Ajusta según el grosor de tu línea */
  left: 1.25rem; /* Ajusta según cuánto quieras que se recorte en el lado izquierdo */
  right: 7.5rem; /* Ajusta según cuánto quieras que se recorte en el lado derecho */
  height: 0.0625rem; /* Grosor de la línea */
  background-image: linear-gradient(to right, transparent 0.3125rem, #ccc 0.3125rem, #ccc calc(100% - 0.3125rem), transparent calc(100% - 0.3125rem)); /* Gradiente lineal con color de fondo */
}

