.container-list {
  margin-top: 10px;
}
.custom-list span{
  font-weight: 600;
}

.icono-pdf {
  cursor: pointer;
  font-size: 18px;
  color: #ec3f3f;
}

.icono-imagen {
  cursor: pointer;
  font-size: 18px;
  color: #2487ce;
}

.icono-pdf:hover {
  color: #ff0000;
}
.icono-imagen:hover {
  color: #00f;
}

.custom-list {
  list-style-type: none;
  padding: 0;
}

.custom-list li {
  position: relative;
  margin-top: 50px;

  margin-bottom: 30px;
}

.custom-list li::before {
  content: "";
  position: absolute;
  bottom: -1px; /* Ajusta según el grosor de tu línea */
  left: 20px; /* Ajusta según cuánto quieras que se recorte en el lado izquierdo */
  right: -2px; /* Ajusta según cuánto quieras que se recorte en el lado derecho */
  height: 1px; /* Grosor de la línea */
  background-image: linear-gradient(to right, transparent 5px, #ccc 5px, #ccc calc(100% - 5px), transparent calc(100% - 5px)); /* Gradiente lineal con color de fondo */
}

@media (max-width: 360px) {
 
  
  .sesiones-ordinarias {
    margin-top: -70px;
    margin-bottom: -35px;
  }
  
}
