.footer-container {
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: -4px;
  margin-top: -13px;
  margin-bottom: 12px;
}

.footer-contact {
  margin-bottom: 10px;
}

.footer-container h3 {
  margin-top: 6px;
  margin-left: 5px;
}

.logo-footer {
  margin-left: -10px;
}

.img-logo {
  width: 30px;
  height: auto;
}

.columna-footer {
  margin-right: 0;
  border-left: 1px solid #ccc;
  height: 80%;
}

.social-facebook {
  display: flex;
  align-items: center; 
}

.social-facebook span {
  margin-left: 5px;
  color: #2487ce;
  margin-top: 5px;
  font-weight: 600;
}

.social-instagram {
  margin-left: 20px;
}

.social-instagram span {
  margin-left: 5px;
  color: #2487ce;
  margin-top: 5px;
  font-weight: 600;
}


.container-t {
  margin-right: 123px;
}

.logo-container {
  right: 10px;
display: flex;
align-items: center;
justify-content: center;
}

.logo-container img {
width: 55px;
height: auto;
margin-left: 10px;
}

.logo-container > :first-child {
  margin-top: -1px;
  font-size: 10px !important;
}

.credits-2 {
  font-size: 10px;
  margin-left: 5px;
  margin-top: -1px;

}

@media(max-width: 800px) {
  .columna-footer  {
    display: flex;
    flex-direction: column;
  }
  
  .social-facebook {
    display: inline-block;
  .social-instagram {
    margin-left: 0;
    margin-top: -30px;
  }  
  }
  
}

@media (max-width: 767px) {

  .social-facebook {
    display: inline-block;
  .social-instagram {
    margin-left: 0;
    margin-top: -30px;
  }  
  }
  .container-powered {
    flex-direction: column;
      align-items: center;
  }
}



@media (max-width: 360px) {

   .social-facebook {
    display: inline-block;
  } 
  .social-instagram {
    margin-left: 0;
    margin-top: -30px;
  }  

.container-powered {
  flex-direction: column;
    align-items: center;
}

  }

@media(max-width: 800) {
  .columna-footer  {
    display: flex;
    flex-direction: column;
  }
}
