.mapa {
  width: 100%;
  height: 16.875rem;
}

.popup img {
  width: 13.125rem;
  height: 6.875rem;
  object-fit: cover; /* O 'contain' según lo que prefieras */
  border-radius: 0.3125rem; /* Añade esquinas redondeadas */
  border: 0.0625rem solid #ccc; /* Añade un borde */
}

.popup h6{
  font-size: 0.875rem;
  text-align: center;
}

.popup p{
  font-size: 0.6875rem;
  text-align: center;
}