.section-visitas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-volver span {
  font-size: 0.75rem;
  margin-left: -34.375rem !important;
}

.link-size {
  font-size: 0.75rem !important;
}

.link-volver:hover {
  color: #469fdf;
}

.title-paragrafh {
  text-align: left;
}

@media (max-width: 61.9375rem) {
  .section {
    padding: 0.625rem;
    margin-bottom: 1.25rem; /* Reduce el padding para pantallas pequeñas */
  }

  .service-details {
    margin-top: 4.6875rem;
  }

  .service-details h4 {
    margin-top: 1.25rem;
  }

  .link-volver {
    font-size: 0.75rem;
    margin-right: -50rem !important;
  }

  .container-title-visita {
    margin-top: 3.75rem;
  }

  .link-size span {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 30.6875rem) {
  .services .service-item {
    flex-direction: column;
    align-items: center;
  }

  .services .service-item h3 {
    text-align: center;
  }

  .service-details {
    margin-top: 4.6875rem;
  }

  .visit-info {
    display: flex;
    flex-direction: column;
  }

  .centered-span {
    align-self: center;
  }

  .visit-info span {
    align-self: center;
  }
  .services .service-item p {
    text-align: center;
  }

  .services .service-item .icon {
    border-radius: 0.5rem;
    position: relative;
    margin-right: 0rem;
    margin-bottom: 0.9375rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16.875rem;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center;
  }

  .service-details h4 {
    margin-top: 1.25rem;
  }

  .service-details h3 {
    font-size: 1.125rem;
    margin-bottom: 0.9375rem;
  }

  .service-details p {
    font-size: 0.875rem;
  }
}

@media (max-width: 22.5rem) {
  .section-title {
    margin-top: 3.125rem;
  }

  .services {
    margin-bottom: 4.375rem;
  }

  .service-details h4 {
    margin-top: 1.25rem;
  }

.section-visitas {
  margin-bottom: 3.125rem;
}

  .services .service-item {
    flex-direction: column;
    align-items: center;
  }

  .services .service-item h3 {
    text-align: center;
  }

  .visit-info {
    display: flex; /* Flexbox para controlar alineación */
    flex-direction: column; /* Alineación vertical */
  }

  .centered-span {
    align-self: center; /* Centra el span horizontalmente */
  }

  .visit-info span {
    align-self: center;
  }
  .services .service-item p {
    text-align: center;
  }

  .services .service-item .icon {
    border-radius: 0.5rem;
    position: relative;
    margin-right: 0rem;
    margin-bottom: 0.9375rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16.875rem;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center;
  }
}
